.App {
  text-align: center;
  /* display: grid;
  grid-column: 1fr 2fr; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-background {
  background-color: black;
}

.nav-dd {
  background-color: black;
}

.single-div {
  height: 100rem;
}

body {
  padding-top: 320px;
  background-color: black;
}

.card-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.nightBg {
  background-color: black;
}

.error-bg {
  background-image: url('https://cdn.vox-cdn.com/thumbor/eWUMuzoAgt53UXWM0YBaLfrwcxo=/0x0:2560x1440/1200x800/filters:focal(1178x382:1586x790)/cdn.vox-cdn.com/uploads/chorus_image/image/56864711/blade_runner.0.jpg');
}

@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: fixed;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

/* .navbar-brand {
  display: block;
  height: 48px;
  padding: 0.5rem 1rem;
  margin: 0;
  background: #343434;
  color: #fff;
  text-align: center;
  transition: background 0.5s;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.8rem;
  line-height: 2rem;
}

.navbar-brand:hover {
  background: #3c3c3c;
  color: #efefef;
  transition: background 0.5s;
} */

.sidebar .nav-link {
  padding: 1rem;

  font-weight: 500;
  color: #ccc;
}

.sidebar .nav-item:hover {
  background: #eeeeee;
}

.sidebar .nav-link:hover {
  color: #333333;
}

.sidebar .nav-link .feather {
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar .nav-item:hover {
  padding-left: 16px;
  transition: padding-left 0.5s;
}

.sb-bg {
  background-image: url('https://image.freepik.com/free-vector/space-background-with-fictional-planets_1048-9013.jpg');
  background-repeat: no-repeat;
}

.sb-bg-1 {
  background-image: url('https://image.freepik.com/free-vector/space-background-with-fictional-planets_1048-9013.jpg');
}

.comments {
  transition: 0.5s;
}

.single-art {
  height: 50rem;
}
